@import '~bulma/bulma';
@import '~bulma-timeline';
@import './mixins.module.scss';
@import './syntax.module.scss';
@import './cookies.module.scss';
@import './carousel.module.scss';

.fa-dark {
  color: black;
  fill: black;
}

.card {
  transition-property: box-shadow, transform;
  transition-duration: 600ms;
  transition-timing-function: cubic-bezier(0.16, 1, 0.29, 0.99);

  &:hover {
    box-shadow: 0 6px 24px 0 rgb(0 0 0 / 18%), 0px 1px 2px rgb(0 0 0 / 10%);
    transform: translate3d(0, -4px, 0);
  }
}

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.work {
  section {
    border-bottom: 1px solid rgba(219, 219, 219, 0.5);
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 20px;

  @include desktop {
    padding-top: 0px;
  }

  li {
    display: block;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;

    @include desktop {
      margin-right: 30px;
    }
  }
}

.postlist-heads {
  text-align: center;
  h1 {
    font-size: 1.75rem;
  }
}

.socials {
  @include desktop {
    svg {
      transition: all 0.4s ease;
      &:hover {
        transform: translate3D(0, -1px, 0) scale(1.3);
      }
    }
  }
  a {
    margin-right: 20px;
  }
}

svg {
  max-width: 100%;
  height: auto;
}

.image img {
  height: 100%;
  width: 100%;
}

.home-post {
  padding-bottom: 1rem;
  padding-top: 3rem !important;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    .image {
      transition: all 0.4s ease-in-out;
    }
    &:hover {
      .image {
        transform: translate3D(0, -1px, 0) scale(1.03);
        opacity: 1;
        -webkit-animation: flash 1s;
        animation: flash 1s;
      }
    }
  }

  &:first-of-type {
    padding-top: 1.5rem !important;
  }

  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;

    @include desktop {
      height: 170px;
      width: 170px;
    }
  }

  .media-content {
    padding: 0 1.25rem;
  }
}

.dotted-underline {
  border-bottom: 1px dotted;

  &:hover {
    border-bottom: none;
  }
}

.container {
  article.tile {
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    @include desktop {
      &:hover {
        transform: translate3D(0, -1px, 0) scale(1.03);
      }
    }
    a {
      text-decoration: none !important;
    }
  }
}

.under-sub {
  &:after {
    content: '';
    width: 68px;
    height: 1px;
    background: rgb(41, 41, 41);
    display: block;
    margin-top: 8px;
  }
}

.intro {
  display: block;
  padding: 50px 25px 80px 25px;
  text-align: center;

  @include desktop {
    width: 940px;
    max-width: 100%;
    margin: 0px auto;
    padding: 150px 10px 60px 10px;
    display: flex;
    text-align: left;
    -webkit-box-align: center;
    align-items: center;
  }

  .avatar {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    min-width: 320px;
    @include desktop {
      width: 316px;
      height: 316px;
      padding: 30px;
      border-radius: 50%;
      margin: 0px auto;
      border: 1px solid rgb(237, 237, 237);
      flex-shrink: 0;
    }
  }
  .content {
    @include desktop {
      padding-left: 30px;
    }
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
