@import '~bulma/bulma';
@import './syntax.module.scss';
@import './cookies.module.scss';
@import './carousel.module.scss';

.fa-dark {
  color: black;
  fill: black;
}

.card {
  transition-property: box-shadow, transform;
  transition-duration: 600ms;
  transition-timing-function: cubic-bezier(0.16, 1, 0.29, 0.99);

  &:hover {
    box-shadow: 0 6px 24px 0 rgb(0 0 0 / 18%), 0px 1px 2px rgb(0 0 0 / 10%);
    transform: translate3d(0, -4px, 0);
  }
}

main {
  min-height: 64vh;
}

nav.navbar {
  min-height: 6vh;
}

footer {
  min-height: 26vh;
}

.tag-list {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;

  li {
    margin: 0 24px 0 24px;
  }
}

.postlist-heads {
  text-align: center;
  h1 {
    font-size: 1.75rem;
  }
}

svg {
  max-width: 100%;
  height: auto;
}
