@import '~bulma/bulma';
@import './mixins.module.scss';
@import './syntax.module.scss';
@import './cookies.module.scss';
@import './carousel.module.scss';

.fa-dark {
  color: black;
  fill: black;
}

.card {
  transition-property: box-shadow, transform;
  transition-duration: 600ms;
  transition-timing-function: cubic-bezier(0.16, 1, 0.29, 0.99);

  &:hover {
    box-shadow: 0 6px 24px 0 rgb(0 0 0 / 18%), 0px 1px 2px rgb(0 0 0 / 10%);
    transform: translate3d(0, -4px, 0);
  }
}

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.work {
  section {
    border-bottom: 1px solid rgba(219, 219, 219, 0.5);
  }

  .tile.is-ancestor {
    margin-left: 0;
    margin-right: 0;
  }

  .tile.is-parent {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include desktop {
      padding: 0.75rem;
    }
  }

  .tile.is-child {
    margin-bottom: 0 !important;
  }

  .notification > a {
    color: inherit;
    display: block;
  }

  .notification .title,
  .notification .subtitle {
    color: inherit;
  }

  .timeline {
    position: relative;
    margin: 3rem auto 0;
    padding: 0.5rem 0;
  }

  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 1px);
    width: 2px;
    background: #dbdbdb;
  }

  .timeline-header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin: 0.75rem 0;
  }

  .timeline-item {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 26px 1fr;
    column-gap: 1rem;
    margin: 1rem 0;
  }

  .timeline-marker {
    grid-column: 2;
    width: 18px;
    height: 18px;
    margin-top: 0.2rem;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 0 2px #dbdbdb;
    background: #485fc7;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.65rem;
    line-height: 1;
  }

  .timeline-marker.is-primary {
    background: #00d1b2;
  }

  .timeline-marker.is-danger {
    background: #f14668;
  }

  .timeline-marker.is-icon {
    width: 26px;
    height: 26px;
    font-size: 0.75rem;
  }

  .timeline-content {
    grid-column: 3;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    padding: 0.75rem 1rem;
  }

  .timeline-content .heading {
    margin-bottom: 0.35rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 0.7rem;
    color: #666;
  }

  .timeline-content p:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: 1023px) {
    .timeline::before {
      left: 12px;
    }

    .timeline-header {
      justify-content: flex-start;
      padding-left: 28px;
    }

    .timeline-item {
      grid-template-columns: 26px 1fr;
      column-gap: 0.75rem;
    }

    .timeline-marker {
      grid-column: 1;
    }

    .timeline-content {
      grid-column: 2;
    }
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 20px;

  @include desktop {
    padding-top: 0px;
  }

  li {
    display: block;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;

    @include desktop {
      margin-right: 30px;
    }
  }
}

.postlist-heads {
  text-align: center;
  h1 {
    font-size: 1.75rem;
  }
}

.socials {
  @include desktop {
    svg {
      transition: all 0.4s ease;
      &:hover {
        transform: translate3D(0, -1px, 0) scale(1.3);
      }
    }
  }
  a {
    margin-right: 20px;
  }
}

svg {
  max-width: 100%;
  height: auto;
}

.image img {
  height: 100%;
  width: 100%;
}

.home-post {
  padding-bottom: 1rem;
  padding-top: 3rem !important;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    .image {
      transition: all 0.4s ease-in-out;
    }
    &:hover {
      .image {
        transform: translate3D(0, -1px, 0) scale(1.03);
        opacity: 1;
      }
    }
  }

  &:first-of-type {
    padding-top: 1.5rem !important;
  }

  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 150px;
    height: auto;
    

    @include desktop {
      height: 170px;
      width: 170px;
    }
  }

  .media-content {
    padding: 0 1.25rem;
  }
}

.dotted-underline {
  border-bottom: 1px dotted;

  &:hover {
    border-bottom: none;
  }
}

.container {
  article.tile {
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    @include desktop {
      &:hover {
        transform: translate3D(0, -1px, 0) scale(1.03);
      }
    }
    a {
      text-decoration: none !important;
    }
  }
}

.container.blog-post {
  margin-bottom: 2em;
  padding: 0 2em;
}

.under-sub {
  &:after {
    content: '';
    width: 68px;
    height: 1px;
    background: rgb(41, 41, 41);
    display: block;
    margin-top: 8px;
  }
}

.intro {
  display: block;
  padding: 50px 25px 80px 25px;
  text-align: center;

  @include desktop {
    width: 940px;
    max-width: 100%;
    margin: 0px auto;
    padding: 150px 10px 60px 10px;
    display: flex;
    text-align: left;
    -webkit-box-align: center;
    align-items: center;
  }

  .avatar {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    min-width: 320px;
    @include desktop {
      width: 316px;
      height: 316px;
      padding: 30px;
      border-radius: 50%;
      margin: 0px auto;
      border: 1px solid rgb(237, 237, 237);
      flex-shrink: 0;
    }
  }
  .content {
    @include desktop {
      padding-left: 30px;
    }
  }
}

// intake form fixes
.control label {
  display: block;
  .radio+.radio {
      margin-left: 0;
  }
}

.control input {
  margin-right: 5px;
}

.control .radio+.radio {
  margin-left: 0;
}
