$orange: #e88333;
$yellow: #d24067;
$blue: #53479e;
$purple: #803391;
$grey: #454f59;
$white: #f7f7f7;
$grad1: linear-gradient(69deg, $yellow, $orange);
$grad2: linear-gradient(73deg, $purple, $blue);
